body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #0D1117;
}

body.dark-mode .logo{
  color: #f7f7f7;
}

body.dark-mode .home h1 {
  color: #F5F7FA;
}

body.dark-mode .home p {
  color: #697A96;
}

body.dark-mode .menu a{
  color: #697A96;
}

body.dark-mode .menu a:hover{
  color: #f5f6fa;
}

